#----------------------------------------------------------#
#include "a113_soundbar.config"

#----------------------------------------------------------#
BR2_TARGET_UBOOT_BOARDNAME="axg_s400_v1_sbr"
BR2_LINUX_KERNEL_INTREE_DTS_NAME="axg_s400 axg_s400_v03sbr"
BR2_ROOTFS_OVERLAY="board/amlogic/mesonaxg_s400_sbr/rootfs/"
#BR2_ROOTFS_UPGRADE_DIR_OVERLAY="?"
BR2_ROOTFS_POST_BUILD_SCRIPT="$(TOPDIR)/board/amlogic/mesonaxg_s400_sbr/avs_post_build.sh"

#--------------------audio service config-------------------------#
BR2_PACKAGE_AUDIOSERVICE_EXTERNAL_M6350=y
BR2_PACKAGE_AUDIOSERVICE_S400_SBR=y
BR2_PACKAGE_AUDIOSERVICE_DISPLAY_LED_ENABLE=y
BR2_PACKAGE_AUDIOSERVICE_KEY_BLE_CONFIG_ENABLE=y
BR2_PACKAGE_AUDIOSERVICE_HOMEAPP_CONFIG_FILE="s400_sbr.conf"
BR2_PACKAGE_AUDIOSERVICE_CONFIG_FILE="br/s400_sbr_avs.conf"

#--------------Please overwrite config here----------------#
BR2_PACKAGE_BUSYBOX_SHOW_OTHERS=n
BR2_PACKAGE_FFTW=n
BR2_PACKAGE_FLEX=n
BR2_PACKAGE_GDB=n
BR2_PACKAGE_HOST_GDB=n
BR2_PACKAGE_LINUX_PAM=n
BR2_PACKAGE_NETPLUG=n
BR2_PACKAGE_OPENSSH=n
BR2_PACKAGE_REMOTECFG=n
BR2_PACKAGE_SWUPDATE_DOWNLOAD=n
BR2_PACKAGE_VIM=n
BR2_PACKAGE_WIFI_FW_WIFI_MODULE="AP6255"
BR2_PACKAGE_BRCMAP6XXX=y
BR2_PACKAGE_AML_BRCM_BSA=y
BR2_SYSTEM_DHCP="wlan0"
BR2_PACKAGE_AML_WIFI=n
#--------------Please add new config here-----------------#
#
BR2_PACKAGE_DISPLAYCARD_AML_IMP=y
BR2_AVS_CLIENT_API=y

BR2_PACKAGE_AML_SOC_BOARD_NAME="S400_SBR"

BR2_PACKAGE_AML_CUSTOMIZE_KERNEL=y
BR2_PACKAGE_AML_CUSTOMIZE_KERNEL_ENABLE_OPT_LIST="CONFIG_NLS_UTF8=y CONFIG_FAT_DEFAULT_IOCHARSET=\"utf8\""
