#----------------------------------------------------------#
#include "a113_purely_soundbar.config"

#----------------------------------------------------------#
BR2_TARGET_UBOOT_BOARDNAME="axg_s410_v1_sbr"
BR2_LINUX_KERNEL_INTREE_DTS_NAME="axg_s410_v03sbr"
BR2_ROOTFS_OVERLAY="board/amlogic/mesonaxg_s410_sbr/rootfs/"
#BR2_ROOTFS_UPGRADE_DIR_OVERLAY="?"
BR2_ROOTFS_POST_BUILD_SCRIPT="$(TOPDIR)/board/amlogic/mesonaxg_s410_sbr/post_build.sh"

#----------------------------------------------------------#
BR2_PACKAGE_AUDIOSERVICE_EXTERNAL_M6350=n
BR2_PACKAGE_AUDIOSERVICE_S410_SBR=y
BR2_PACKAGE_AUDIOSERVICE_AIRPLAY=n
BR2_PACKAGE_AUDIOSERVICE_AMLUART=n
BR2_PACKAGE_AUDIOSERVICE_FFMPEG=n

#--------------Please overwrite config here----------------#
BR2_PACKAGE_DNSMASQ=n
BR2_PACKAGE_HOSTAPD=n
BR2_PACKAGE_HOST_GDB=n
BR2_PACKAGE_LIBCURL=n
BR2_PACKAGE_NTP=n
BR2_PACKAGE_WIFI_FW=n
BR2_PACKAGE_LINUX_PAM=n

BR2_PACKAGE_FFMPEG_DECODERS="flac, mp3float, mp3, mp3adufloat, mp3adu, mp3on4float, mp3on4, pcm_alaw, pcm_bluray, pcm_dvd, pcm_f16le, pcm_f24le, pcm_f32be, pcm_f32le, pcm_f64be, pcm_f64le, pcm_lxf, pcm_mulaw, pcm_s16be, pcm_s16be_planar, pcm_s16le, pcm_s16le_planar, pcm_s24be, pcm_s24daud, pcm_s24le, pcm_s24le_planar, pcm_s32be, pcm_s32le, pcm_s32le_planar, pcm_s64be, pcm_s64le, pcm_s8, pcm_s8_planar, pcm_u16be, pcm_u16le, pcm_u24be, pcm_u24le, pcm_u32be, pcm_u32le, pcm_u8, pcm_zork"

#--------------Please add new config here-----------------#
#

BR2_PACKAGE_AML_SOC_BOARD_NAME="S410_SBR"

BR2_PACKAGE_AML_CUSTOMIZE_KERNEL=y
BR2_PACKAGE_AML_CUSTOMIZE_KERNEL_ENABLE_OPT_LIST="CONFIG_NLS_UTF8=y CONFIG_FAT_DEFAULT_IOCHARSET=\"utf8\""

BR2_PACKAGE_AUDIOSERVICE_CONFIG_FILE="br/s410_sbr.conf"