#
# Copyright (c) 2022 Amlogic, Inc. All rights reserved.
# This source code is subject to the terms and conditions
# defined in the file 'LICENSE' which is part of this source code package.
# Description: a113 speaker kernel5.4 config file
#
#----------------------------------------------------------#
#include "a113_base_k54.config"

#----------------------------------------------------------#
#include "network_driver_k5.4.config"

#----------------------------------------------------------#
#include "alsa.config"

#----------------------------------------------------------#
#include "adb.config"

#----------------------------------------------------------#
#include "webui.config"

#----------------------------------------------------------#
#include "network_app.config"

#----------------------------------------------------------#
#include "tools.config"

#----------------------------------------------------------#

#----------------------------------------------------------#
#include "gst_audio.config"

#----------------------------------------------------------#
#include "swupdate.config"

#----------------------------------------------------------#
#include "speaker_app.config"

#----------------------------------------------------------#
#include "legacy_airplay.config"

#----------------------------------------------------------#
#include "dlna.config"

#----------------------------------------------------------#
#include "aml_audio_player_mini.config"

#----------------------------------------------------------#
#include "avs.config"

