#----------------------------------------------------------#
#include "a1_speaker.config"

#----------------------------------------------------------#
#BR2_ROOTFS_UPGRADE_DIR_OVERLAY="board/amlogic/mesona1_ad401/upgrade/"
BR2_LINUX_KERNEL_INTREE_DTS_NAME="meson-a1-a113l-ad403"
BR2_ROOTFS_OVERLAY="board/amlogic/mesona1_ad403/rootfs/"
BR2_ROOTFS_POST_BUILD_SCRIPT="$(TOPDIR)/board/amlogic/mesona1_ad403/post_build.sh"
BR2_TARGET_UBOOT_BOARDNAME="a1_ad403_nand_linux"
BR2_LINUX_KERNEL_USE_CUSTOM_CONFIG=y
BR2_LINUX_KERNEL_CUSTOM_CONFIG_FILE="board/amlogic/mesona1_ad403/meson64_a32_ad403_linux_defconfig"

#--------------Please overwrite config here----------------#
BR2_PACKAGE_AMAUDIO=n
BR2_PACKAGE_AML_BRCM_BSA=n
BR2_PACKAGE_AML_COMMONLIB=n
BR2_PACKAGE_BRCMAP6XXX=n
BR2_PACKAGE_BRCMAP6XXX_LOCAL=n
BR2_PACKAGE_BUSYBOX_SHOW_OTHERS=n
BR2_PACKAGE_DHD_PRIV=n
BR2_PACKAGE_GDB=n
BR2_PACKAGE_HOST_GDB=n
BR2_PACKAGE_LINUX_PAM=n
BR2_PACKAGE_NETPLUG=n
BR2_PACKAGE_REMOTECFG=n
BR2_PACKAGE_VIM=n
BR2_PACKAGE_WAVPACK=n
BR2_PACKAGE_WIFI_FW=n
BR2_PACKAGE_WIFI_FW_LOCAL=n
BR2_SYSTEM_DHCP="wlan0"

#----------------------Only For RealTeck WiFi/BT----------------------------------------------Begin#
#for w1
BR2_PACKAGE_AML_WIFI=y
BR2_PACKAGE_AML_WIFI_LOCAL=y
BR2_PACKAGE_AML_WIFI_STANDALONE=y
BR2_PACKAGE_AML_WIFI_GIT_VERSION="r-amlogic"
BR2_PACKAGE_AML_WIFI_LOCAL_PATH="$(TOPDIR)/../hardware/aml-5.4/wifi/amlogic"

BR2_PACKAGE_AML_BT=y
BR2_PACKAGE_AML_BT_LOCAL_PATH="$(TOPDIR)/../hardware/aml-4.9/bluetooth/amlogic/aml_bt/sdio_driver_bt"

#BR2_PACKAGE_SBC=y
BR2_PACKAGE_BLUEZ5_UTILS=y
BR2_PACKAGE_BLUEZ5_UTILS_OBEX=y
BR2_PACKAGE_BLUEZ5_UTILS_CLIENT=y
BR2_PACKAGE_BLUEZ_ALSA=y

#--------------Please add new config here-----------------#
BR2_PACKAGE_LIBCURL=y
BR2_PACKAGE_GLIB_NETWORKING=y
BR2_PACKAGE_GNUTLS=y
BR2_PACKAGE_LIBARCHIVE=y
BR2_PACKAGE_LIBCURL_MBEDTLS=y
BR2_PACKAGE_LIBESTR=y
BR2_PACKAGE_LIBFASTJSON=y
BR2_PACKAGE_LIBGMIME=y
BR2_PACKAGE_LIBGPG_ERROR=y
BR2_PACKAGE_LIBLOGGING=y
BR2_PACKAGE_LIBSOUP=y
BR2_PACKAGE_LIBSOUP_SSL=y
BR2_PACKAGE_LIBTASN1=y
BR2_PACKAGE_LIBTOOL=y
BR2_PACKAGE_LIBXML2=y
BR2_PACKAGE_MBEDTLS=y
BR2_PACKAGE_NGHTTP2=y
BR2_PACKAGE_SQLITE=y
BR2_PACKAGE_SWUPDATE_DOWNLOAD=y

BR2_PACKAGE_AML_SOC_BOARD_NAME="AD403"
BR2_PACKAGE_UBOOT_TOOLS=y

BR2_TARGET_ROOTFS_CPIO_LZ4=y
BR2_LINUX_KERNEL_LZ4=y
BR2_PACKAGE_AML_UAC=y
BR2_PACKAGE_SPI_LED=y
BR2_INPUT_EVENTD_FILTER_POWERKEY=y
BR2_UTILS_IOCTL=y
BR2_UTILS_AUTO_SHUTDOWN=y
BR2_UTILS_BATTERY_MONITOR=y
