#
# Copyright (c) 2021 Amlogic, Inc. All rights reserved.
# This source code is subject to the terms and conditions defined in the file 'LICENSE' which is part of this source code package.
# Description: a1 speaker k515 config file
#
#----------------------------------------------------------#
#include "a1_base_k515.config"

#----------------------------------------------------------#
#include "network_driver_k5.15.config"

#----------------------------------------------------------#
#include "alsa.config"

#----------------------------------------------------------#
#include "adb.config"

#----------------------------------------------------------#
#include "hifi_rtos_sdk.config"

#----------------------------------------------------------#
#include "webui.config"

#----------------------------------------------------------#
#include "network_app.config"

#----------------------------------------------------------#
#include "tools.config"

#----------------------------------------------------------#
#include "swupdate.config"

#----------------------------------------------------------#
#include "speaker_app.config"

#----------------------------------------------------------#
#include "aml_audio_player_mini.config"

