#
# Copyright (c) 2022 Amlogic, Inc. All rights reserved.
# This source code is subject to the terms and conditions
# defined in the file 'LICENSE' which is part of this source code package.
# Description: a113l soundbar kernel5.15 config file
#
#----------------------------------------------------------#
#include "a1_base_k515.config"

#----------------------------------------------------------#
#include "network_driver_k5.15.config"

#----------------------------------------------------------#
#include "alsa.config"

#----------------------------------------------------------#
#include "adb.config"

#----------------------------------------------------------#
#include "webui.config"

#----------------------------------------------------------#
#include "network_app.config"

#----------------------------------------------------------#
#include "tools.config"

#----------------------------------------------------------#
#include "swupdate.config"

#----------------------------------------------------------#
#include "audio_service_soundbar.config"

BR2_AML_UTIL_SIMULATE_KEY=n
