#----------------------------------------------------------#
#include "a4_soundbar.config"

#----------------------------------------------------------#
BR2_TARGET_UBOOT_BOARDNAME="a4_ba400"
BR2_LINUX_KERNEL_INTREE_DTS_NAME="a4_a113l2_ba400_sbr"
BR2_ROOTFS_OVERLAY="board/amlogic/mesona4_ba400/rootfs/"
#BR2_ROOTFS_UPGRADE_DIR_OVERLAY="?"
BR2_ROOTFS_POST_BUILD_SCRIPT="$(TOPDIR)/board/amlogic/mesona4_ba400/post_build.sh"

#--------------------audio service config-------------------------#
BR2_PACKAGE_AUDIOSERVICE_EXTERNAL_M031=y
BR2_PACKAGE_AUDIOSERVICE_EXTERNAL_ADV7674=n
BR2_PACKAGE_AUDIOSERVICE_DISPLAY_LCD_ENABLE=y
BR2_PACKAGE_AUDIOSERVICE_DISPLAY_SPEAK_ENABLE=y
BR2_PACKAGE_AUDIOSERVICE_INPUT_VAD_ENABLE=y
BR2_PACKAGE_AUDIOSERVICE_KEY_BLE_CONFIG_ENABLE=y
BR2_PACKAGE_AUDIOSERVICE_INPUT_BT_ENABLE=y
BR2_PACKAGE_AUDIOSERVICE_HOMEAPP_CONFIG_FILE="ba400_sbr.conf"
BR2_PACKAGE_AUDIOSERVICE_CONFIG_FILE="br/ba400_sbr_7_1_4_datmos_V1_7.conf"
#--------How to switch atmos_5.1.2 and atmos_7.1.4--------#
# 5.1.2 : av400_sbr_5_1_2_datmos_V1_7.conf
# 7.1.4 : av400_sbr_7_1_4_datmos_V1_7.conf

#--------------Please overwrite config here----------------#
BR2_PACKAGE_BUSYBOX_SHOW_OTHERS=n
BR2_PACKAGE_FFTW=n
BR2_PACKAGE_FLEX=n
BR2_PACKAGE_GDB=n
BR2_PACKAGE_HOST_GDB=n
BR2_PACKAGE_LINUX_PAM=n
BR2_PACKAGE_NETPLUG=n
BR2_PACKAGE_OPENSSH=n
BR2_PACKAGE_REMOTECFG=n
BR2_PACKAGE_SWUPDATE_DOWNLOAD=n
BR2_PACKAGE_VIM=n
BR2_PACKAGE_WIFI_FW_WIFI_MODULE="AP6255"
BR2_PACKAGE_BRCMAP6XXX=n
BR2_PACKAGE_AML_BRCM_BSA=n
BR2_SYSTEM_DHCP="wlan0"
BR2_PACKAGE_AML_WIFI=y
BR2_PACKAGE_AML_BT=y
#BLUEZ
BR2_PACKAGE_BLUEZ5_UTILS=y
BR2_PACKAGE_BLUEZ5_UTILS_OBEX=y
BR2_PACKAGE_BLUEZ5_UTILS_CLIENT=y
BR2_PACKAGE_BLUEZ_ALSA=y
BR2_PACKAGE_ALSA_LIB=y

BR2_PACKAGE_BUSYBOX_SHOW_OTHERS=y
#--------------Please add new config here-----------------#
#
BR2_PACKAGE_DISPLAYCARD_AML_IMP=y
BR2_AVS_CLIENT_API=y

BR2_PACKAGE_AML_SOC_BOARD_NAME="BA400_SBR"

BR2_PACKAGE_AML_CUSTOMIZE_KERNEL=y
BR2_PACKAGE_AML_CUSTOMIZE_KERNEL_ENABLE_OPT_LIST="CONFIG_NLS_UTF8=y CONFIG_FAT_DEFAULT_IOCHARSET=\"utf8\""

