#----------------------------------------------------------#
#include "a4_base.config"

#----------------------------------------------------------#
#include "network_driver_k5.4.config"

#----------------------------------------------------------#
#include "alsa.config"

#----------------------------------------------------------#
#include "adb.config"

#----------------------------------------------------------#
#include "webui.config"

#----------------------------------------------------------#
#include "network_app.config"

#----------------------------------------------------------#
#include "tools.config"

#----------------------------------------------------------#
#include "gst_audio.config"

#----------------------------------------------------------#
#include "swupdate.config"

#----------------------------------------------------------#
#include "airplayv2.config"

#----------------------------------------------------------#
#include "avs.config"

#----------------------------------------------------------#
#include "audio_service_soundbar.config"

#----------------------------------------------------------#
#include "cast_lite.config"

#----------------------------------------------------------#

BR2_PACKAGE_JPEG=y
BR2_PACKAGE_LIBJPEG=y
BR2_AML_UTIL_SIMULATE_KEY=n
