#----------------------------------------------------------#
#include "a5_speaker.config"
#include "hifi_rtos_sdk.config"
#include "network_driver_k5.4.config"
#----------------------------------------------------------#
BR2_TARGET_UBOOT_BOARDNAME="a5_av400"
BR2_LINUX_KERNEL_INTREE_DTS_NAME="a5_a113x2_av400_1g_spk"
BR2_ROOTFS_OVERLAY="board/amlogic/mesona5_av400_spk/rootfs/"
#BR2_ROOTFS_UPGRADE_DIR_OVERLAY="?"
BR2_ROOTFS_POST_BUILD_SCRIPT="$(TOPDIR)/board/amlogic/mesona5_av400_spk/post_build.sh"


#--------------------rtos----------------------------------------#
BR2_PACKAGE_AML_RTOS_DSPA_BUILD_OPTION="xtensa a5 av400_a113x2_hifi5a_sram hifi_dsp"
BR2_PACKAGE_AML_RTOS_DSPA_INSTALL=y
BR2_PACKAGE_AML_RTOS_DSPA_AUTOLOAD=y

#--------------Please overwrite config here----------------#
BR2_PACKAGE_BUSYBOX_SHOW_OTHERS=n
BR2_PACKAGE_FFTW=n
BR2_PACKAGE_FLEX=n
BR2_PACKAGE_GDB=n
BR2_PACKAGE_HOST_GDB=n
BR2_PACKAGE_LINUX_PAM=n
BR2_PACKAGE_NETPLUG=n
BR2_PACKAGE_OPENSSH=n
BR2_PACKAGE_REMOTECFG=n
BR2_PACKAGE_SWUPDATE_DOWNLOAD=n
BR2_PACKAGE_VIM=n
BR2_SYSTEM_DHCP="wlan0"
BR2_PACKAGE_AML_WIFI=y
BR2_PACKAGE_AML_BT=y
######BLUEZ
BR2_PACKAGE_BLUEZ5_UTILS=y
BR2_PACKAGE_BLUEZ5_UTILS_OBEX=y
BR2_PACKAGE_BLUEZ5_UTILS_CLIENT=y
BR2_PACKAGE_BLUEZ_ALSA=y
BR2_PACKAGE_BUSYBOX_SHOW_OTHERS=y
#--------------Please add new config here-----------------#
#
BR2_PACKAGE_DISPLAYCARD_AML_IMP=y
BR2_AVS_CLIENT_API=y

BR2_PACKAGE_AML_SOC_BOARD_NAME="AV400_SPK"

BR2_PACKAGE_AML_CUSTOMIZE_KERNEL=y
BR2_PACKAGE_AML_CUSTOMIZE_KERNEL_ENABLE_OPT_LIST="CONFIG_NLS_UTF8=y CONFIG_FAT_DEFAULT_IOCHARSET=\"utf8\""


BR2_PACKAGE_AML_NN_AIAUDIO_LIBRARY=y
BR2_PACKAGE_AML_NN_AIAUDIO=y
BR2_PACKAGE_AML_NN_AIAUDIO_DEMO=y

