#----------------------------------------------------------#
#include "a5_base.config"

#----------------------------------------------------------#
#include "network_driver_k5.4.config"

#----------------------------------------------------------#
#include "alsa.config"

#----------------------------------------------------------#
#include "adb.config"

#----------------------------------------------------------#
#include "webui.config"

#----------------------------------------------------------#
#include "network_app.config"

#----------------------------------------------------------#
#include "tools.config"

#----------------------------------------------------------#

#----------------------------------------------------------#
#include "gst_audio.config"

#----------------------------------------------------------#
#include "swupdate.config"

#----------------------------------------------------------#
#include "speaker_app.config"

#----------------------------------------------------------#
#include "airplayv2.config"

#----------------------------------------------------------#
#include "dlna.config"

#----------------------------------------------------------#
#include "aml_audio_player_mini.config"

#----------------------------------------------------------#
#include "avs.config"

