#include "gst_aml.config"

BR2_PACKAGE_LIBAUDIOEFFECT=y
BR2_PACKAGE_AML_TVSERVER=y
BR2_PACKAGE_AML_DVB=y
BR2_PACKAGE_AML_ZVBI=y
BR2_PACKAGE_AML_HDCP=y
BR2_PACKAGE_AML_PROVISION=y
BR2_PACKAGE_TDK=y
BR2_PACKAGE_LOGCAT=y
BR2_PACKAGE_LOGWRAPPER=y
BR2_PACKAGE_LIBBINDER=y

#tsplayer
BR2_PACKAGE_MEDIAHAL_SDK=y
BR2_PACKAGE_MEDIAHAL_SDK_TSPLAYER=y
