# Architecture
BR2_arm=y
BR2_ARM_KERNEL_32=y
#-------------------------Userspace Toolchain-------------------------------#
BR2_TOOLCHAIN_EXTERNAL=y
BR2_TOOLCHAIN_EXTERNAL_PREINSTALLED=y
BR2_TOOLCHAIN_EXTERNAL_GOOGLE_CROS_ARM_PREINSTALLED=y
BR2_TOOLCHAIN_EXTERNAL_PATH="$(TOPDIR)/../toolchain/gcc/linux-x86/arm/google_cros/armv7a"
BR2_TOOLCHAIN_EXTERNAL_CXX=y
BR2_TOOLCHAIN_EXTERNAL_HEADERS_4_20=y
BR2_TOOLCHAIN_EXTERNAL_PREFIX="armv7a-cros-linux-gnueabihf"
#-------------------------Kernel Toolchain-------------------------------#
BR2_KERNEL_TOOLCHAIN_PATH="$(TOPDIR)/../toolchain/gcc/linux-x86/arm/gcc-arm-10.3-2021.07-x86_64-arm-none-linux-gnueabihf"
BR2_KERNEL_TOOLCHAIN_ARM_ARMV8_202107=y

