#include "audio_service_common.config"

# Add a default audioservice config for speaker
BR2_PACKAGE_AUDIOSERVICE_CONFIG_FILE="br/speaker_sample.conf"

# Add AVS
BR2_AVS_CLIENT_API=y

# Add USB Player
BR2_PACKAGE_AUDIOSERVICE_USBPLAYER=y

# Add AirPlay
BR2_PACKAGE_AUDIOSERVICE_AIRPLAY=y

# Add Cast Lite
#BR2_PACKAGE_AUDIOSERVICE_CAST_LITE=y
