#include "audio_service_common.config"
#include "ffmpeg.config"
#include "aml_audio_player_mini.config"

#ATMOS
BR2_PACKAGE_DOLBY_ATMOS_RELEASE=y
BR2_PACKAGE_DOLBY_ATMOS_VERSION_1_7=y
#DTS
BR2_PACKAGE_DTS_RELEASE=y

BR2_PACKAGE_AUDIOSERVICE_FFMPEG=y
BR2_PACKAGE_AUDIOSERVICE_STRESSTEST=y

# Add halaudio
BR2_PACKAGE_AUDIOSERVICE_HALAUDIO=y

# Add USB Player
BR2_PACKAGE_AUDIOSERVICE_USBPLAYER=y

# Add AirPlay
BR2_PACKAGE_AUDIOSERVICE_AIRPLAY=y

# Add Cast Lite
#BR2_PACKAGE_AUDIOSERVICE_CAST_LITE=y
