#----------------------------------------------------------#
#include "c3_ipc.config"
#include "network_driver_k5.15.config"
#----------------------------------------------------------#
#MUST-CHANGE
BR2_LINUX_KERNEL_INTREE_DTS_NAME="c3_pxp"
BR2_ROOTFS_OVERLAY="board/amlogic/mesonc3_aw401/rootfs/"
BR2_ROOTFS_POST_BUILD_SCRIPT="$(TOPDIR)/board/amlogic/mesonc3_aw401/post_build.sh"
BR2_ROOTFS_UPGRADE_DIR="board/amlogic/common/upgrade/upgrade-c3"
BR2_ROOTFS_UPGRADE_DIR_OVERLAY="board/amlogic/mesonc3_aw401/upgrade/"
#MUST-CHANGE
BR2_TARGET_UBOOT_BOARDNAME="c2_af400"

#--------------Please overwrite config here----------------#
BR2_PACKAGE_BUSYBOX_SHOW_OTHERS=n
BR2_PACKAGE_FBGRAB=n
BR2_PACKAGE_FBSET=n
BR2_PACKAGE_FBTERM=n
BR2_PACKAGE_FB_TEST_APP=n
BR2_PACKAGE_GST_AML_PLUGINS1=n
#BR2_PACKAGE_HARFBUZZ=n
BR2_PACKAGE_HOST_GDB=n
#BR2_PACKAGE_LIBERATION=n
BR2_PACKAGE_LIBPLAYER=n
BR2_PACKAGE_PANGO=n
BR2_PACKAGE_SLT=n
#BR2_PACKAGE_WIFI_FW_WIFI_MODULE="AP6398"
#BR2_PACKAGE_BRCMAP6XXX=y
#BR2_PACKAGE_AML_BRCM_BSA=y

#w1 wifi
BR2_PACKAGE_DHD_PRIV=n
BR2_PACKAGE_AML_WIFI=y
BR2_PACKAGE_AML_BT=y
#BLUEZ
BR2_PACKAGE_BLUEZ5_UTILS=y
BR2_PACKAGE_BLUEZ5_UTILS_OBEX=y
BR2_PACKAGE_BLUEZ5_UTILS_CLIENT=y
BR2_PACKAGE_BLUEZ_ALSA=y
BR2_PACKAGE_ALSA_LIB=y

#--------------Please add new config here-----------------#
BR2_PACKAGE_LIBMAD=y
BR2_PACKAGE_LIBPTHREAD_STUBS=y
BR2_PACKAGE_LIBXSLT=y
BR2_PACKAGE_NETSNMP=y
BR2_PACKAGE_OPENSSH=y
BR2_PACKAGE_POPT=y
BR2_PACKAGE_RSYNC=y
BR2_PACKAGE_SPEEXDSP=y
BR2_PACKAGE_LIBGLIB2=y

BR2_PACKAGE_AML_SOC_BOARD_NAME="C3_AW401"
BR2_TARGET_UBOOT_AMLOGIC_BOOTARGS="root=/dev/system rootfstype=ext4 init=/sbin/init kernel_version=upstream"
BR2_LINUX_KERNEL_MODULES_SEQUENCE_LIST="board/amlogic/mesonc3_aw401/modules_sequence_list"

#MBP
BR2_PACKAGE_LINUX_OSAL=y
BR2_PACKAGE_PMZ=y
BR2_PACKAGE_MBD_BASE=y
BR2_PACKAGE_MBD_CVE=y
BR2_PACKAGE_MBD_GE2D=y
BR2_PACKAGE_MBD_REGION=y
BR2_PACKAGE_MBD_VENC=y
BR2_PACKAGE_MBD_VPU=y
BR2_PACKAGE_MBD_ADLA=y
BR2_PACKAGE_MBD_DEWARP=y
BR2_PACKAGE_MBD_CAMERA=y
BR2_PACKAGE_MBD_AUDIO=y
BR2_PACKAGE_MBD_PPU=y
BR2_PACKAGE_SENSOR=y
BR2_PACKAGE_MBI=y
BR2_PACKAGE_SAMPLE=y
BR2_PACKAGE_TOOL=y

