#Boost
BR2_PACKAGE_BOOST=y
BR2_PACKAGE_BOOST_FILESYSTEM=y

#GRPC
BR2_PACKAGE_GRPC=y

#Audio service
BR2_PACKAGE_AML_AMAUDIOUTILS=y
BR2_PACKAGE_AML_AUDIO_HAL=y
BR2_PACKAGE_AML_AUDIO_HAL_MSYNC=y
BR2_PACKAGE_HAL_AUDIO_SERVICE=y

#Logcat
BR2_PACKAGE_LOGCAT=y

#libdrm
BR2_PACKAGE_LIBDRM=y
BR2_PACKAGE_AVSYNC_LIB=y

#gst audio sink
BR2_PACKAGE_GST_PLUGIN_AML_ASINK=y

#gst video plane sink
BR2_PACKAGE_LIBDRM_MESON=n
BR2_PACKAGE_GST_PLUGIN_AML_VSINK=n

#Audio decoder
BR2_PACKAGE_GST1_LIBAV=y
BR2_PACKAGE_GST1_LIBAV_WITH_FFMMPEG=y

#ffmpeg decoder
BR2_PACKAGE_FFMPEG_DECODERS="opus, vorbis, mp3float, mp3, mp3adufloat, mp3adu, mp3on4float, mp3on4, aac, aac_latm"
BR2_PACKAGE_FFMPEG_ENCODERS=""
BR2_PACKAGE_FFMPEG_MUXERS=""
BR2_PACKAGE_FFMPEG_DEMUXERS=""
BR2_PACKAGE_FFMPEG_PARSERS=""
BR2_PACKAGE_FFMPEG_BSFS=""
BR2_PACKAGE_FFMPEG_PROTOCOLS=""
BR2_PACKAGE_FFMPEG_FILTERS=""
