#include "gst.config"
#We must disable gst aml plugin first, then gst-play can find V4L2 plugin.
BR2_PACKAGE_GST_AML_PLUGINS1=y
BR2_PACKAGE_GST_AML_PLUGINS1_DEFAULT=n
BR2_PACKAGE_GST_AML_DRMBUFFERPOOL1=y
BR2_PACKAGE_GST1_PLUGINS_GOOD_PLUGIN_V4L2=y
BR2_PACKAGE_GST1_PLUGINS_GOOD_PLUGIN_V4L2_PROBE=y
BR2_PACKAGE_GST1_PLUGINS_BASE_PLUGIN_VORBIS=y
BR2_PACKAGE_GST1_LIBAV=y
BR2_PACKAGE_GST1_PLUGINS_BASE_PLUGIN_ALSA=y

