#
# Copyright (c) 2014 Amlogic, Inc. All rights reserved.
# This source code is subject to the terms and conditions defined in the file 'LICENSE' which is part of this source code package.
# Description: aml hifi rtos sdk config file
#

BR2_PACKAGE_AML_HIFI_RTOS_SDK=y
BR2_PACKAGE_AML_HIFI_RTOS_SDK_LOCAL_PATH="$(TOPDIR)/../vendor/amlogic/rtos/HiFiDSP_rtos_sdk"
