#----------------------------------------------------------#
#include "m8b_base.config"

#----------------------------------------------------------#
###include "media_k4.9.config"
BR2_PACKAGE_MEDIA_MODULES=y
BR2_PACKAGE_MEDIA_MODULES_STANDALONE=y
BR2_PACKAGE_MEDIA_MODULES_LOCAL=y
BR2_PACKAGE_MEDIA_MODULES_LOCAL_PATH="$(TOPDIR)/../hardware/aml-4.9/amlogic/media_modules-q"
BR2_PACKAGE_MEDIA_MODLUES_VERSION="amlogic-4.9-dev-q"

#----------------------------------------------------------#
#include "network_driver_k4.9.config"

#----------------------------------------------------------#
####include "gfx_g31_k4.9.config"
#include "gfx_m450_k4.9.config"

#----------------------------------------------------------#
###include "wayland_drm.config"
BR2_PACKAGE_WAYLAND=y
#BR2_PACKAGE_WAYLAND_VERSION="1.14.0"
BR2_PACKAGE_WAYLAND_PROTOCOLS=y
#BR2_PACKAGE_WAYLAND_PROTOCOLS_VERSION="1.10"

#----------------------------------------------------------#
#include "alsa.config"

#----------------------------------------------------------#
###include "gst_v4l2.config"

#----------------------------------------------------------#
#include "adb.config"

#----------------------------------------------------------#
#include "webui.config"


#----------------------------------------------------------#
#include "network_app.config"

#----------------------------------------------------------#
#include "tools.config"

#----------------------------------------------------------#
#include "fs_full.config"

#----------------------------------------------------------#
#include "audio.config"

#----------------------------------------------------------#
#include "directfb.config"

#----------------------------------------------------------#
#include "swupdate.config"

#----------------------------------------------------------#
BR2_PACKAGE_ALSA_PLUGINS=n
