BR2_PACKAGE_WIFI_FW=y
BR2_PACKAGE_WIFI_FW_LOCAL=y
BR2_PACKAGE_WIFI_CUSTOM_GIT_VERSION="m-amlogic"
BR2_PACKAGE_WIFI_FW_CUSTOM_LOCAL_PATH="$(TOPDIR)/../hardware/aml-4.9/amlogic/wifi"
BR2_PACKAGE_WIFI_FW_WIFI_MODULE="AP6398 bcm4356p ath10k AP6335 bcm4356 AP6255 AP6201BM"

BR2_PACKAGE_BRCMAP6XXX=n
BR2_PACKAGE_BRCMAP6XXX_LOCAL=y
BR2_PACKAGE_BRCMAP6XXX_STANDALONE=y
BR2_PACKAGE_BRCMAP6XXX_GIT_VERSION="r-amlogic"
BR2_PACKAGE_BRCMAP6XXX_LOCAL_PATH="$(TOPDIR)/../hardware/aml-5.15/wifi/broadcom/drivers/ap6xxx"
BR2_PACKAGE_BRCMAP6XXX_SDIO_VERSION="bcmdhd.101.10.361.x"

BR2_PACKAGE_AML_WIFI=n
BR2_PACKAGE_AML_WIFI_LOCAL=y
BR2_PACKAGE_AML_WIFI_STANDALONE=y
BR2_PACKAGE_AML_WIFI_GIT_VERSION="r-amlogic"
BR2_PACKAGE_AML_WIFI_LOCAL_PATH="$(TOPDIR)/../hardware/aml-5.4/wifi/amlogic"

BR2_PACKAGE_AML_BT=n
BR2_PACKAGE_AML_BT_LOCAL_PATH="$(TOPDIR)/../hardware/aml-4.9/bluetooth/amlogic/aml_bt/sdio_driver_bt"

BR2_PACKAGE_AML_BRCM_BSA=n
BR2_PACKAGE_DHD_PRIV=y

BR2_SYSTEM_DHCP="eth0"
