#----------------------------------------------------------#
#include "sc2_base.config"

#----------------------------------------------------------#
#include "media_k4.9.config"

#----------------------------------------------------------#
#include "network_driver_k4.9.config"

#----------------------------------------------------------#
#include "gfx_g31_k4.9.config"
BR2_PACKAGE_MESON_DISPLAY=y

#----------------------------------------------------------#
#include "alsa.config"

#----------------------------------------------------------#
#include "gst_v4l2.config"

#----------------------------------------------------------#
#include "adb.config"

#----------------------------------------------------------#
#include "tdk.config"
BR2_PACKAGE_WIDEVINE_BIN_VERSION_15=y

#----------------------------------------------------------#
#include "network_app.config"

#----------------------------------------------------------#
#include "tools.config"

#----------------------------------------------------------#
#include "fs_full.config"

#----------------------------------------------------------#
#include "audio.config"

#----------------------------------------------------------#
#include "directfb.config"

#----------------------------------------------------------#
#include "swupdate.config"

#----------------------------------------------------------#
#include "westeros.config"

#----------------------------------------------------------#
#include "wpeframework.config"

#----------------------------------------------------------#
#include "aml_tvserver.config"

#----------------------------------------------------------#
#include "rdk_cobalt.config"
