#----------------------------------------------------------#
#include "sc2_ott.config"

#----------------------------------------------------------#
#BR2_LINUX_KERNEL_INTREE_DTS_NAME="sc2_s905x4_ah219_drm_buildroot"
BR2_LINUX_KERNEL_INTREE_DTS_NAME="sc2_s905x4_ah219_buildroot"
BR2_ROOTFS_OVERLAY="board/amlogic/mesonsc2_ah219/rootfs/"
BR2_ROOTFS_UPGRADE_DIR_OVERLAY="board/amlogic/mesonsc2_ah219/upgrade/"
BR2_TARGET_UBOOT_BOARDNAME="sc2_ah219"
BR2_PACKAGE_MEDIA_MODULES_LOCAL_PATH="$(TOPDIR)/../hardware/aml-4.9/amlogic/media_modules-q"

#--------------Please overwrite config here----------------#
BR2_PACKAGE_DHD_PRIV=n
BR2_PACKAGE_EXFAT=n
BR2_PACKAGE_EXFAT_UTILS=n
BR2_PACKAGE_LIBFUSE=n
BR2_PACKAGE_WIFI_FW_WIFI_MODULE=""
BR2_PACKAGE_QUALCOMM_WIFI=y
BR2_PACKAGE_QUALCOMM_QCA6174=y

#--------------Please add new config here-----------------#
BR2_PACKAGE_AML_CUSTOMIZE_KERNEL=y
BR2_PACKAGE_AML_CUSTOMIZE_KERNEL_ENABLE_OPT_LIST="CONFIG_AMLOGIC_UVM_CORE CONFIG_AMLOGIC_ATV_DEMOD CONFIG_AMLOGIC_DTV_DEMOD CONFIG_ANDROID_LOW_MEMORY_KILLER CONFIG_HFSPLUS_FS CONFIG_ANDROID_LOGGER CONFIG_ZRAM"
BR2_PACKAGE_AML_CUSTOMIZE_KERNEL_SET_OPT_LIST=""
BR2_PACKAGE_BOOST=y
BR2_PACKAGE_CAIRO_SCRIPT=y
BR2_PACKAGE_CJSON=y
BR2_PACKAGE_ICU=y
BR2_PACKAGE_LEVELDB=y
BR2_PACKAGE_LIBID3TAG=y
BR2_PACKAGE_LIBJPEG=y
BR2_PACKAGE_LIBMAD=y
BR2_PACKAGE_LIBXSLT=y
BR2_PACKAGE_PCRE_16=y
BR2_PACKAGE_SNAPPY=y
BR2_PACKAGE_SQLITE_ENABLE_COLUMN_METADATA=y
BR2_PACKAGE_TSLIB=y
BR2_PACKAGE_COBALT=n
BR2_PACKAGE_HAL_AUDIO_SERVICE=y
BR2_PACKAGE_AML_AUDIO_HAL_DVB=y

BR2_PACKAGE_AML_SOC_BOARD_NAME="AH219"
