#----------------------------------------------------------#
#include "sm1_base.config"

#----------------------------------------------------------#
#include "media_k4.9.config"

#----------------------------------------------------------#
#include "network_driver_k4.9.config"

#----------------------------------------------------------#
#include "gfx_g31_k4.9.config"
BR2_PACKAGE_MESON_MALI_WAYLAND_DRM_EGL=n
BR2_PACKAGE_MESON_MALI_GBM_EGL=y
BR2_PACKAGE_LIBDRM=y
BR2_PACKAGE_LIBDRM_HAS_ATOMIC=y

#----------------------------------------------------------#
#include "alsa.config"

#----------------------------------------------------------#
#include "gst.config"

#----------------------------------------------------------#
#include "adb.config"

#----------------------------------------------------------#
#include "npu_driver_k4.9.config"

#----------------------------------------------------------#
#include "nn_app.config"

#----------------------------------------------------------#
#include "network_app.config"

#----------------------------------------------------------#
#include "tools.config"

#----------------------------------------------------------#
#include "fs_full.config"

#----------------------------------------------------------#
#include "audio.config"

#----------------------------------------------------------#
#include "directfb.config"

#----------------------------------------------------------#
#include "swupdate.config"

#----------------------------------------------------------#
#include "ipc_driver.config"

#----------------------------------------------------------#
#include "ipc_sdk.config"

#----------------------------------------------------------#
BR2_PACKAGE_ALSA_PLUGINS=n
#----------------------------------------------------------#

BR2_PACKAGE_IPC_SDK_BUILD_V4L_DEC=y
BR2_PACKAGE_IPC_SDK_BUILD_VO_EGL=y
