#----------------------------------------------------------#
#include "t5_base.config"
BR2_LINUX_KERNEL_DEFCONFIG="meson64_a32"
BR2_LINUX_KERNEL_CONFIG_FRAGMENT_FILES="board/amlogic/common/kernel_config/kernel49/drm-4.9.fragment"
BR2_LINUX_KERNEL_UIMAGE=y
BR2_LINUX_KERNEL_ZIMAGE=n
BR2_ROOTFS_UPGRADE_DIR="board/amlogic/common/upgrade/upgrade-t5/"
BR2_RECOVERY_OTA_DIR="board/amlogic/common/ota/ota-t5/"

#----------------------------------------------------------#
#include "media_k4.9.config"

#----------------------------------------------------------#
#include "network_driver_k4.9.config"

#----------------------------------------------------------#
#include "gfx_g31_k4.9.config"

#----------------------------------------------------------#
#include "wayland_drm.config"

#----------------------------------------------------------#
#include "alsa.config"

#----------------------------------------------------------#
#include "gst.config"

#----------------------------------------------------------#
#include "adb.config"

#----------------------------------------------------------#
#include "webui.config"

#----------------------------------------------------------#
#include "tdk.config"
BR2_PACKAGE_WIDEVINE_BIN_VERSION_15=y

#----------------------------------------------------------#
#include "network_app.config"

#----------------------------------------------------------#
#include "cobalt.config"

#----------------------------------------------------------#
#include "tools.config"

#----------------------------------------------------------#
#include "fs_full.config"

#----------------------------------------------------------#
#include "audio.config"

#----------------------------------------------------------#
#include "directfb.config"

#----------------------------------------------------------#
#include "swupdate.config"

#----------------------------------------------------------#
#include "aml_tvserver.config"

#----------------------------------------------------------#
#include "aml_pqserver.config"

#----------------------------------------------------------#
###include "aml_vdintest.config"
