#----------------------------------------------------------#
#include "t5d_base.config"
BR2_LINUX_KERNEL_DEFCONFIG="meson64_a32"
BR2_LINUX_KERNEL_CONFIG_FRAGMENT_FILES="board/amlogic/common/kernel_config/kernel49/drm-4.9.fragment"
BR2_LINUX_KERNEL_UIMAGE=y
BR2_LINUX_KERNEL_ZIMAGE=n
BR2_ROOTFS_COMMON_OVERLAY="board/amlogic/common/rootfs/rootfs-49-roku/"
BR2_RECOVERY_OTA_DIR="board/amlogic/common/ota/ota-tm2-roku/"

#include "flash_emmc.config"
BR2_TARGET_ROOTFS_EXT2_SIZE="1024M"

#------------------------roku toolchain-----------------------#
BR2_arm=y
BR2_cortex_a9=y
BR2_ARM_ENABLE_NEON=y
BR2_ARM_ENABLE_VFP=n
BR2_TOOLCHAIN_EXTERNAL=y
BR2_TOOLCHAIN_EXTERNAL_CUSTOM=y
BR2_TOOLCHAIN_EXTERNAL_PATH="$(TOPDIR)/../roku_porting_kit/porting_kit/os/toolchain"
BR2_TOOLCHAIN_EXTERNAL_GCC_8=y
BR2_TOOLCHAIN_EXTERNAL_CUSTOM_GLIBC=y
BR2_TOOLCHAIN_EXTERNAL_CXX=y

#-----------------------roku gpu---------------------#
BR2_PACKAGE_GPU=y
BR2_PACKAGE_GPU_VERSION="r25p0"
BR2_PACKAGE_GPU_LOCAL=y
BR2_PACKAGE_GPU_LOCAL_PATH="$(TOPDIR)/../hardware/aml-4.9/arm/gpu"
BR2_PACKAGE_GPU_STANDALONE=y
BR2_PACKAGE_GPU_MODEL="dvalin"

BR2_PACKAGE_MESON_MALI=y
BR2_PACKAGE_MESON_MALI_MODEL="dvalin"
BR2_PACKAGE_MESON_MALI_VERSION="r25p0"

#----------------------------------------------------------#
#include "media_k4.9.config"
BR2_PACKAGE_LIBPLAYER=y
BR2_PACKAGE_LIBPLAYER_BASE_LIBS=y
BR2_PACKAGE_ALSA_LIB=y

#----------------------------------------------------------#
#include "network_driver_k4.9.config"
BR2_PACKAGE_AML_BRCM_BSA=n

#----------------------------------------------------------#
#include "adb.config"

#----------------------------------------------------------#
#include "alsa.config"

#----------------------------------------------------------#
#include "dvb.config"

#----------------------------------------------------------#
##include "network_app.config"
BR2_PACKAGE_WPA_SUPPLICANT=y
BR2_PACKAGE_WPA_SUPPLICANT_CLI=y
BR2_PACKAGE_OPENSSL=y

#----------------------------------------------------------#
#include "fs_basic.config"

#----------------------------------------------------------#
##include "directfb.config"

#----------------------------------------------------------#
#include "swupdate.config"
#
BR2_PACKAGE_TDK=y
BR2_PACKAGE_AML_HDCP=y
BR2_PACKAGE_AML_PROVISION=y

#WV
BR2_PACKAGE_WIDEVINE_BIN=y
BR2_PACKAGE_WIDEVINE_BIN_VERSION_16=y

#playready
BR2_PACKAGE_PLAYREADY_BIN=y
BR2_PACKAGE_PLAYREADY_BIN_VERSION="4.0"

#SecMem
BR2_PACKAGE_LIBSECMEM_BIN=y

#BR2_PACKAGE_LIBCONFIG=y
BR2_PACKAGE_AML_TVSERVER=y
BR2_PACKAGE_AML_PQSERVER=y
BR2_PACKAGE_AML_PQSERVER_USE_LIBBINDER=y
#include "gst.config"

#include "gst_aml.config"
BR2_PACKAGE_LIBDRM_MESON=y
BR2_PACKAGE_GST_PLUGIN_AML_VSINK=y
BR2_PACKAGE_GST_AML_PLUGINS1=n

#Secure GST allocator
BR2_PACKAGE_GST_AML_DRM_PLUGINS1=y

#fw loader
BR2_PACKAGE_SECFIRMLOAD=y
BR2_PACKAGE_LAUNCHER_USE_SECFIRMLOAD=y
#
#drm
BR2_PACKAGE_LIBDRM=y
BR2_PACKAGE_LIBDRM_HAS_ATOMIC=y
BR2_PACKAGE_MESON_DISPLAY=y
BR2_PACKAGE_FB_TEST_APP=y

#Dolby MS12 FW
BR2_PACKAGE_DOLBY_MS12_RELEASE=y

#audio hal
BR2_PACKAGE_AML_AUDIO_HAL_DVB=y
