#----------------------------------------------------------#
#include "t5d_roku.config"

#----------------------------------------------------------#
BR2_LINUX_KERNEL_INTREE_DTS_NAME="t5d_t950d4_am301_drm_1.5g"
BR2_TARGET_UBOOT_BOARDNAME="t5d_am301_v1"

#BR2_ROOTFS_OVERLAY="board/amlogic/mesont5d_am301/rootfs/"
BR2_ROOTFS_UPGRADE_DIR_OVERLAY="board/amlogic/mesont5d_am301/upgrade/"
BR2_ROOTFS_POST_BUILD_SCRIPT="$(TOPDIR)/board/amlogic/mesont5d_am301/post_build.sh"

#--------------Please overwrite config here----------------#
BR2_PACKAGE_QUALCOMM_QCA6174=n
BR2_PACKAGE_QUALCOMM_WIFI=n
BR2_PACKAGE_RTK8189ES=n
BR2_PACKAGE_RTK8822BU=n
BR2_PACKAGE_RTK8723DU=n
BR2_PACKAGE_RTK8188GTV=n
BR2_PACKAGE_RTK8821CU=y
BR2_PACKAGE_WPA_SUPPLICANT=y
BR2_PACKAGE_LINUX_PAM=n
BR2_PACKAGE_JPEG_SIMD_SUPPORT=n
BR2_PACKAGE_LIBCURL=n
BR2_PACKAGE_LIBCONFIG=n

#--------------Please add new config here-----------------#

BR2_PACKAGE_AML_CUSTOMIZE_KERNEL=y
BR2_PACKAGE_AML_CUSTOMIZE_KERNEL_ENABLE_OPT_LIST="CONFIG_AMLOGIC_ATV_DEMOD CONFIG_AMLOGIC_DTV_DEMOD CONFIG_ANDROID_LOW_MEMORY_KILLER CONFIG_HFSPLUS_FS CONFIG_YAFFS_FS CONFIG_ANDROID_LOGGER CONFIG_ZRAM"
BR2_PACKAGE_AML_CUSTOMIZE_KERNEL_SET_OPT_LIST=""

BR2_PACKAGE_AML_VENDOR_PARTITION=y
BR2_PACKAGE_AML_VENDOR_PARTITION_SIZE="256M"
BR2_PACKAGE_AML_VENDOR_PARTITION_PATH="$(TOPDIR)/board/amlogic/mesont5d_am301/vendor/"

#tsplayer
BR2_PACKAGE_LIBEVENT=y
BR2_PACKAGE_MEDIAHAL_SDK=y
BR2_PACKAGE_MEDIAHAL_SDK_TSPLAYER=y

BR2_PACKAGE_AML_SOC_CHIP_NAME="T950D4"
BR2_PACKAGE_AML_SOC_BOARD_NAME="AM301"
