#----------------------------------------------------------#
#include "t5w_roku.config"

#----------------------------------------------------------#
BR2_LINUX_KERNEL_INTREE_DTS_NAME="t5w_t962d4_at301_roku"
BR2_ROOTFS_OVERLAY="board/amlogic/mesont5w_at301/rootfs/"
BR2_ROOTFS_UPGRADE_DIR_OVERLAY="board/amlogic/mesont5w_at301/upgrade/"
BR2_TARGET_UBOOT_BOARDNAME="t5w_at301_v1"
BR2_RECOVERY_OTA_DIR="board/amlogic/common/ota/ota-tm2-roku/"
#BR2_ROOTFS_POST_BUILD_SCRIPT="$(TOPDIR)/board/amlogic/mesont7_an400/post_build.sh"

#--------------Please overwrite config here----------------#
BR2_PACKAGE_DHD_PRIV=n
BR2_PACKAGE_EXFAT=n
BR2_PACKAGE_EXFAT_UTILS=n
BR2_PACKAGE_LIBFUSE=n
#BR2_PACKAGE_WIFI_FW_WIFI_MODULE=""
#BR2_PACKAGE_RTK8822CU=y
#BR2_PACKAGE_RTK8822CU_LOCAL=y
#BR2_PACKAGE_RTK8822CU_STANDALONE=y
#BR2_PACKAGE_RTK8822CU_GIT_VERSION="r-amlogic"
#BR2_PACKAGE_RTK8822CU_LOCAL_PATH="$(TOPDIR)/../hardware/aml-5.4/wifi/realtek/drivers/8822cu"

#--------------Please add new config here-----------------#
BR2_PACKAGE_BOOST=y
BR2_PACKAGE_CAIRO_SCRIPT=y
BR2_PACKAGE_CJSON=y
BR2_PACKAGE_ICU=y
BR2_PACKAGE_LEVELDB=y
BR2_PACKAGE_LIBID3TAG=y
BR2_PACKAGE_LIBJPEG=y
BR2_PACKAGE_LIBMAD=y
BR2_PACKAGE_LIBXSLT=y
BR2_PACKAGE_PCRE_16=y
BR2_PACKAGE_SNAPPY=y
BR2_PACKAGE_SQLITE_ENABLE_COLUMN_METADATA=y
BR2_PACKAGE_TSLIB=y

BR2_PACKAGE_AML_SOC_BOARD_NAME="t5w"
