#----------------------------------------------------------#
#include  "wpeframework_dep.config"
#----------------------------------------------------------#

BR2_PACKAGE_WPEFRAMEWORK=y
BR2_PACKAGE_WPEFRAMEWORK_WEBPROXY=y
BR2_PACKAGE_WPEFRAMEWORK_WEBSHELL=y
BR2_PACKAGE_WPEFRAMEWORK_UI=y
BR2_PACKAGE_WPEFRAMEWORK_TOOLS=y
BR2_PACKAGE_WPEFRAMEWORK_CDM=y
BR2_PACKAGE_WPEFRAMEWORK_COMPOSITORCLIENT=y
BR2_PACKAGE_WPEFRAMEWORK_DEVICEINFO=n
BR2_PACKAGE_WPEFRAMEWORK_DISPLAYINFO=n

BR2_PACKAGE_WPEFRAMEWORK_PLUGINS=y
BR2_PACKAGE_RDKSERVICES=y
BR2_PACKAGE_WPEFRAMEWORK_PLATFORM=y
BR2_PACKAGE_RDKSHELL=y
BR2_PACKAGE_WPEFRAMEWORK_LOCATIONSYNC=y

#OpenCMD
BR2_PACKAGE_WPEFRAMEWORK_CDMI=y
# widevine
BR2_PACKAGE_WPEFRAMEWORK_CDMI_WIDEVINE=y
BR2_PACKAGE_WIDEVINE_BIN_VERSION_16=y
# PlayReady
BR2_PACKAGE_WPEFRAMEWORK_CDMI_PLAYREADY=y
BR2_PACKAGE_PLAYREADY_BIN_VERSION="3.3"
#BR2_PACKAGE_WPEFRAMEWORK_CDMI_PLAYREADY_BUILDALL=y

### WebKitBrowser
BR2_PACKAGE_WEBP=y
BR2_PACKAGE_WPEWEBKIT=y
BR2_PACKAGE_NINJA=n
BR2_PACKAGE_VSS_SDK=y
BR2_TOOLCHAIN_USES_MUSL=n
BR2_PACKAGE_WPEWEBKIT_ENABLE_NATIVE_VIDEO=y
BR2_PACKAGE_WPEWEBKIT_ENABLE_MEDIA_SOURCE=y
BR2_PACKAGE_WPEWEBKIT_JSC=y
BR2_PACKAGE_WPEWEBKIT_USE_GOLD_LD=y
BR2_PACKAGE_WPEFRAMEWORK_BROWSER_RESOLUTION_1080P
BR2_PACKAGE_WPEFRAMEWORK_WEBKITBROWSER=y
BR2_PACKAGE_WPEWEBKIT_ENABLE_MEDIA_STREAM=y
BR2_PACKAGE_LIBWPE=y

###### Dail server #########3#
BR2_PACKAGE_WPEFRAMEWORK_DIALSERVER=y
BR2_PACKAGE_WPEFRAMEWORK_DIALSERVER_NAME="TM2 DIALServer"
BR2_PACKAGE_WPEFRAMEWORK_HAS_YOUTUBE=y
BR2_PACKAGE_WPEFRAMEWORK_DIALSERVER_YOUTUBE_MODE_ACTIVE=y
BR2_PACKAGE_WPEFRAMEWORK_DIALSERVER_YOUTUBE_CALLSIGN="Cobalt"
BR2_PACKAGE_WPEFRAMEWORK_NETWORKCONTROL=y

##### power control support
BR2_PACKAGE_WPEFRAMEWORK_POWER=y
BR2_PACKAGE_WPEFRAMEWORK_POWER_AUTOSTART=y

########### for webkitbrowser debug ###############3
#BR2_PACKAGE_WPEWEBKIT_DEBUG=y
#BR2_PACKAGE_WPEWEBKIT_SYMBOLS=y
BR2_PACKAGE_WPEWEBKIT_ENABLE_MEDIA_STREAM=y
BR2_PACKAGE_WPEWEBKIT_USE_PUNCH_HOLE_GSTREAMER=y


########### gst plugin for webkit ###############
BR2_PACKAGE_GST1_PLUGINS_BAD_PLUGIN_OPUS=y
BR2_PACKAGE_WPEWEBKIT_USE_ENCRYPTED_MEDIA=y
BR2_PACKAGE_GST1_PLUGINS_DORNE=n
BR2_PACKAGE_GST1_PLUGINS_BAD_PLUGIN_MPEGTSDEMUX=y
BR2_PACKAGE_GST1_PLUGINS_BAD_PLUGIN_VIDEOPARSERS=y
BR2_PACKAGE_GST1_PLUGINS_BAD_PLUGIN_DASH=y
BR2_PACKAGE_GST1_PLUGINS_BAD_PLUGIN_HLS=y
BR2_PACKAGE_GST1_PLUGINS_BASE_PLUGIN_GIO=y
BR2_PACKAGE_GST1_PLUGINS_BASE_PLUGIN_AUDIOCONVERT=y
BR2_PACKAGE_GST1_PLUGINS_BASE_PLUGIN_AUDIORESAMPLE=y
BR2_PACKAGE_GST1_PLUGINS_BASE_PLUGIN_OPUS=y
BR2_PACKAGE_GST1_PLUGINS_BASE_PLUGIN_VIDEOCONVERT=y
BR2_PACKAGE_GST1_PLUGINS_BASE_PLUGIN_VIDEOSCALE=y
BR2_PACKAGE_GST1_PLUGINS_BASE_PLUGIN_VOLUME=y
BR2_PACKAGE_GST1_PLUGINS_BASE_PLUGIN_TYPEFIND=y
BR2_PACKAGE_GST1_PLUGINS_BASE_PLUGIN_APP=y
BR2_PACKAGE_GST1_PLUGINS_BASE_PLUGIN_PLAYBACK=y
BR2_PACKAGE_GST1_PLUGINS_GOOD_PLUGIN_ISOMP4=y
BR2_PACKAGE_GST1_PLUGINS_GOOD_PLUGIN_AUDIOFX=y
BR2_PACKAGE_GST1_PLUGINS_GOOD_PLUGIN_AUDIOPARSERS=y
BR2_PACKAGE_GST1_PLUGINS_GOOD_PLUGIN_AUTODETECT=y
BR2_PACKAGE_GST1_PLUGINS_GOOD_PLUGIN_AVI=y
BR2_PACKAGE_GST1_PLUGINS_GOOD_PLUGIN_DEINTERLACE=y
BR2_PACKAGE_GST1_PLUGINS_GOOD_PLUGIN_INTERLEAVE=y
BR2_PACKAGE_GST1_PLUGINS_GOOD_PLUGIN_MATROSKA=y
BR2_PACKAGE_GST1_PLUGINS_GOOD_PLUGIN_WAVPARSE=y
BR2_PACKAGE_GST1_PLUGINS_GOOD_PLUGIN_SOUPHTTPSRC=y


BR2_PACKAGE_GST1_PLUGINS_UGLY_PLUGIN_MPEG2DEC=y

BR2_PACKAGE_GST1_PLUGINS_BAD_PLUGIN_WPE=y
BR2_PACKAGE_GST1_PLUGINS_BAD_PLUGIN_WEBRTCDSP=y
BR2_PACKAGE_GST1_PLUGINS_BAD_PLUGIN_WEBRTCDSP=y
BR2_PACKAGE_GST1_PLUGINS_BAD_PLUGIN_WEBP=y
BR2_PACKAGE_GST1_PLUGINS_GOOD_PLUGIN_V4L2=y
BR2_PACKAGE_GST1_PLUGINS_GOOD_PLUGIN_V4L2_PROBE=y

BR2_PACKAGE_GST1_PLUGINS_BASE_PLUGIN_VIDEOCONVERT=y
BR2_PACKAGE_GST1_PLUGINS_GOOD_PLUGIN_VIDEOCROP=y
BR2_PACKAGE_GST1_PLUGINS_GOOD_PLUGIN_VIDEOBOX=y
BR2_PACKAGE_GST1_PLUGINS_GOOD_PLUGIN_VIDEOMIXER=y
BR2_PACKAGE_GST1_PLUGINS_BASE_PLUGIN_VIDEORATE=y
BR2_PACKAGE_GST1_PLUGINS_BASE_PLUGIN_VIDEOSCALE=y
BR2_PACKAGE_GST1_PLUGINS_BASE_PLUGIN_VOLUME=y
BR2_PACKAGE_GST1_PLUGINS_BASE_PLUGIN_VIDEOTESTSRC=y
BR2_PACKAGE_GST1_PLUGINS_BASE_PLUGIN_TYPEFIND=y
BR2_PACKAGE_GST1_PLUGINS_BASE_PLUGIN_RAWPARSE=y
BR2_PACKAGE_GST1_PLUGINS_BAD_PLUGIN_VIDEOSIGNAL=y
BR2_PACKAGE_GST1_PLUGINS_BAD_PLUGIN_VIDEOFRAME_AUDIOLEVEL=y
BR2_PACKAGE_GST1_PLUGINS_GOOD_PLUGIN_MULTIFILE=y
BR2_PACKAGE_GST1_PLUGINS_GOOD_PLUGIN_MULTIPART=y
