
BR2_PACKAGE_ALSA_LIB=y
BR2_PACKAGE_ZLIB=y
BR2_PACKAGE_LIBCURL=y
BR2_PACKAGE_LIBPLAYER=y
#BR2_PACKAGE_AML_AUDIO_HAL=y

#BR2_PACKAGE_IARMBUS=y
#BR2_PACKAGE_DEVICESETTINGS_HAL_HEADERS=y
#BR2_PACKAGE_DEVICESETTINGS_HAL_LLAMA=y
#BR2_PACKAGE_DEVICESETTINGS=y

#BR2_PACKAGE_IARMMGRS_HAL_HEADERS=y
#BR2_PACKAGE_IARMMGRS_HAL_LLAMA=y
#BR2_PACKAGE_IARMMGRS=y

#BR2_PACKAGE_HDMICEC_HEADER=y
#BR2_PACKAGE_HDMICEC_HAL_LLAMA=y
#BR2_PACKAGE_HDMICEC=y

BR2_PACKAGE_LIBCAP=y
BR2_PACKAGE_AML_SYSTEMD=y
#BR2_PACKAGE_FPDRIVERLIB=y

#BR2_PACKAGE_FPDRIVERLIB=y
#BR2_PACKAGE_LOG4C=y
#BR2_PACKAGE_RFC=y
#BR2_PACKAGE_TR69HOSTIF_HEADERS=y
#BR2_PACKAGE_TROWER_BASE64=y
#BR2_PACKAGE_WDMP_C=y
#BR2_PACKAGE_RDK_LOGGER=y
#BR2_PACKAGE_CIMPLOG=y
#BR2_PACKAGE_LOG4C=y
#BR2_PACKAGE_AUDIOCAPTUREMGR=y
