#----------------------------------------------------------#
#include "arch_a32_7.3.1.config"

#----------------------------------------------------------#
#include "a213y_au401.config"
#include "flash_nand_2k.config"

#----------------------------------------------------------#

BR2_TARGET_UBOOT_BOARDNAME="m8b_a213y_au401_fastboot"

BR2_TARGET_ROOTFS_INITRAMFS_LIST="board/amlogic/mesona213y_au401_fastboot/initramfs/ramfslist-32-ubi-release"
BR2_TARGET_RECOVERY_INITRAMFS_LIST="board/amlogic/mesona213y_au401_fastboot/initramfs/ramfslist-32-ubi-recovery"

BR2_LINUX_KERNEL_INTREE_DTS_NAME="mesona213y_au401_a330_fastboot_512m"

BR2_ROOTFS_OVERLAY="board/amlogic/mesona213y_au401_fastboot/rootfs/"
BR2_ROOTFS_UPGRADE_DIR_OVERLAY="board/amlogic/mesona213y_au401_fastboot/upgrade/"
BR2_ROOTFS_POST_BUILD_SCRIPT="$(TOPDIR)/board/amlogic/mesona213y_au401_fastboot/post_build.sh"

#----------------------delete package not used-------------------------------#
BR2_PACKAGE_BOOT_ANIMATION=y
BR2_PACKAGE_TEST_TOOLS=n
BR2_PACKAGE_LIBPLAYER=n


BR2_PACKAGE_AML_CUSTOMIZE_KERNEL=y
BR2_PACKAGE_AML_CUSTOMIZE_KERNEL_ENABLE_OPT_LIST="CONFIG_KERNEL_LZ4 CONFIG_SQUASHFS CONFIG_SQUASHFS_ZLIB CONFIG_RD_LZ4 CONFIG_SYNC_FILE CONFIG_CC_OPTIMIZE_FOR_SIZE CONFIG_THUMB2_KERNEL"
BR2_PACKAGE_AML_CUSTOMIZE_KERNEL_DISABLE_OPT_LIST="CONFIG_IPV6 CONFIG_AMLOGIC_NAND CONFIG_AMLOGIC_DEBUG CONFIG_NVMEM CONFIG_EXT4_FS CONFIG_NTFS_FS CONFIG_DEBUG_INFO CONFIG_RD_GZIP CONFIG_KALLSYMS CONFIG_KALLSYMS_BASE_RELATIVE CONFIG_ELF_CORE CONFIG_SLUB_DEBUG CONFIG_SLABINFO CONFIG_LBDAF CONFIG_MSDOS_PARTITION CONFIG_EFI_PARTITION CONFIG_DEBUG_RODATA CONFIG_DEBUG_ALIGN_RODATA CONFIG_CORE_DUMP_DEFAULT_ELF_HEADERS CONFIG_INET_XFRM_MODE_BEET CONFIG_AMLOGIC_MEDIA_FB_OSD_SYNC_FENCE CONFIG_AMLOGIC_M8B_MMC CONFIG_AMLOGIC_PAGE_TRACE CONFIG_AMLOGIC_SLAB_TRACE CONFIG_SCHED_DEBUG CONFIG_DEBUG_BUGVERBOSE CONFIG_DECOMPRESS_GZIP CONFIG_AMLOGIC_VMAP CONFIG_AEABI"

BR2_TARGET_ROOTFS_CPIO_GZIP=n
BR2_TARGET_ROOTFS_CPIO_LZ4=y
BR2_TARGET_ROOTFS_TAR_GZIP=n
BR2_TARGET_ROOTFS_TAR_LZ4=y

BR2_LINUX_KERNEL_LZ4=y
BR2_LINUX_KERNEL_GZIP=n


BR2_TARGET_ROOTFS_SQUASHFS=y
BR2_PACKAGE_SQUASHFS=y

