#----------------------------------------------------------#
#include "arch_a6432_10.2_10.3.config"

#----------------------------------------------------------#
#include "a4_ba400.config"
#include "flash_emmc.config"
### if you want to use ext fs, change to #include "rootfs_extfs.config"
### if you want to use erofs, change to #include "rootfs_erofs.config"
#include "rootfs_squashfs.config"
BR2_TARGET_ROOTFS_INITRAMFS_LIST="board/amlogic/mesona4_ba400/initramfs/ramfslist-32-ext2"
