#----------------------------------------------------------#
#include "arch_a6432_10.2_10.3.config"
#----------------------------------------------------------#
#include "a4_ba400_spk.config"
#include "flash_emmc.config"
#include "rootfs_squashfs.config"
BR2_TARGET_ROOTFS_INITRAMFS_LIST="board/amlogic/mesona4_ba400_spk/initramfs/ramfslist-32-ext2"
