#----------------------------------------------------------#
#include "arch_a6432_10.3_7.3.1.config"

#----------------------------------------------------------#
#include "a5_av409.config"
#include "flash_emmc.config"
BR2_TARGET_ROOTFS_EXT2_SIZE="1024M"
BR2_TARGET_ROOTFS_INITRAMFS_LIST="board/amlogic/mesona5_av409/initramfs/ramfslist-32-ext2"

