#----------------------------------------------------------#
#include "arch_a64_10.2.config"

#----------------------------------------------------------#
#include "c1_ae400_k515.config"
#include "flash_emmc.config"
BR2_TARGET_ROOTFS_INITRAMFS_LIST="board/amlogic/mesonc1_ae400_k515/initramfs/ramfslist-64"
BR2_LINUX_KERNEL_MODULES_SEQUENCE_LIST="board/amlogic/mesonc1_ae400_k515/modules_sequence_list"
