#----------------------------------------------------------#
#include "arch_a32_10.3.config"

#----------------------------------------------------------#
#include "c3_aw401.config"

BR2_PACKAGE_FBDUMP=n
BR2_PACKAGE_IOZONE=n
BR2_PACKAGE_DIRECTFB=n
BR2_PACKAGE_DIRECTFB_EXAMPLES=n
BR2_PACKAGE_CAIRO=n
BR2_PACKAGE_LIBCONFIG=n
BR2_PACKAGE_LIBCURL=n
BR2_PACKAGE_FLEX=n
BR2_PACKAGE_NTFS_3G=n
BR2_PACKAGE_PIXMAN=n
BR2_PACKAGE_SPEEXDSP=n
BR2_PACKAGE_LIBSVG=n
BR2_PACKAGE_LIBSVG_CAIRO=n

BR2_PACKAGE_LIBMAD=n
BR2_PACKAGE_LIBPTHREAD_STUBS=n
BR2_PACKAGE_LIBXSLT=n
BR2_PACKAGE_NETSNMP=n
BR2_PACKAGE_OPENSSH=n
BR2_PACKAGE_POPT=n
BR2_PACKAGE_RSYNC=n

BR2_PACKAGE_BLUEZ5_UTILS=n
BR2_PACKAGE_BLUEZ5_UTILS_OBEX=n
BR2_PACKAGE_BLUEZ5_UTILS_CLIENT=n
BR2_PACKAGE_BLUEZ_ALSA=n
BR2_PACKAGE_ALSA_LIB=n

BR2_PACKAGE_ADB_RNDIS=n
BR2_PACKAGE_ANDROID_TOOLS=n
BR2_PACKAGE_ANDROID_TOOLS_ADBD=n
BR2_PACKAGE_ANDROID_TOOLS_FASTBOOT_GOOD_KERNEL_HEADERS=n

BR2_PACKAGE_NTP=n
BR2_PACKAGE_NTP_NTPD=n
BR2_PACKAGE_NTP_NTPDATE=n

BR2_PACKAGE_WAVPACK=n
BR2_PACKAGE_FLEX=n
BR2_PACKAGE_AMAUDIO=n

BR2_PACKAGE_GDB=n
BR2_PACKAGE_GDB_SERVER=n
BR2_PACKAGE_GDB_DEBUGGER=n

BR2_PACKAGE_READLINE=y
BR2_PACKAGE_FONTCONFIG=y
BR2_PACKAGE_JSON_GLIB=y
BR2_PACKAGE_LIBGLIB2=y

#JPEG
BR2_PACKAGE_JPEG=y
BR2_PACKAGE_HAS_JPEG=y
BR2_PACKAGE_JPEG_TURBO=y
BR2_PACKAGE_PROVIDES_JPEG="jpeg-turbo"

BR2_PACKAGE_FDK_AAC=y

#quirc
BR2_PACKAGE_QUIRC=y

#refapp
BR2_PACKAGE_SAMPLE=n
BR2_PACKAGE_TOOL=n
BR2_TOOLCHAIN_EXTERNAL_OPENMP=y
BR2_TOOLCHAIN_HAS_OPENMP=y
BR2_PACKAGE_IPC_REFERENCE=y

BR2_LINUX_KERNEL_INTREE_DTS_NAME="c3_c302x_aw409_256m c3_c302x_aw409_128m"
BR2_TARGET_UBOOT_BOARDNAME="c3_aw409"
#include "flash_nand_2k.config"
BR2_TARGET_ROOTFS_INITRAMFS_LIST="board/amlogic/mesonc3_aw409/initramfs/ramfslist-32-ubi-release"
BR2_LINUX_KERNEL_DEFCONFIG="meson64_a32_C3_mini"


