#----------------------------------------------------------#
#include "arch_a32_10.3.config"

#----------------------------------------------------------#
#include "c3_aw401.config"
BR2_LINUX_KERNEL_INTREE_DTS_NAME="c3_c308l_aw429_256m c3_c308l_aw429_128m"
BR2_TARGET_UBOOT_BOARDNAME="c3_aw429"
#include "flash_nand_2k.config"
BR2_TARGET_ROOTFS_INITRAMFS_LIST="board/amlogic/mesonc3_aw401/initramfs/ramfslist-32-ubi-release"

