#----------------------------------------------------------#
#include "arch_a32_10.3.config"

#----------------------------------------------------------#
#include "c3_aw401.config"

BR2_PACKAGE_JSON_GLIB=y

#JPEG
BR2_PACKAGE_JPEG=y
BR2_PACKAGE_HAS_JPEG=y
BR2_PACKAGE_JPEG_TURBO=y
BR2_PACKAGE_PROVIDES_JPEG="jpeg-turbo"

BR2_PACKAGE_LIBMAD=n
BR2_PACKAGE_LIBPTHREAD_STUBS=n
BR2_PACKAGE_LIBXSLT=n
BR2_PACKAGE_NETSNMP=n
BR2_PACKAGE_OPENSSH=n
BR2_PACKAGE_POPT=n
BR2_PACKAGE_RSYNC=n

BR2_PACKAGE_LIBGLIB2=n

#quirc
BR2_PACKAGE_QUIRC=y

#refapp
BR2_TOOLCHAIN_HAS_OPENMP=y
BR2_TOOLCHAIN_EXTERNAL_OPENMP=y
BR2_PACKAGE_IPC_REFERENCE=y

BR2_LINUX_KERNEL_INTREE_DTS_NAME="c3_c308l_aw419"
BR2_TARGET_UBOOT_BOARDNAME="c3_aw419"

#include "flash_nand_2k.config"
BR2_TARGET_ROOTFS_INITRAMFS_LIST="board/amlogic/mesonc3_aw401/initramfs/ramfslist-32-ubi-release"

