#----------------------------------------------------------#
#include "arch_a6432_6.3.1.config"

#----------------------------------------------------------#
#include "t5d_am301.config"
BR2_LINUX_KERNEL_DEFCONFIG="meson64"
BR2_LINUX_KERNEL_UIMAGE=n
BR2_LINUX_KERNEL_IMAGE=y

BR2_LINUX_KERNEL_INTREE_DTS_NAME="t5d_t950d4_am301_nand_drm_1.5g"
BR2_PACKAGE_LINUX_PAM=n

#include "flash_nand_4k.config"
BR2_ROOTFS_UPGRADE_DIR="board/amlogic/common/upgrade/upgrade-t5d-nand/"
BR2_TARGET_ROOTFS_INITRAMFS_LIST="board/amlogic/common/initramfs/initramfs-49/ramfslist-32-ubi-release"

BR2_PACKAGE_COBALT=n
